// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.fs-4{
    font-size: 1rem !important;
}
.fs-5{
    font-size: 1.25rem !important;
}
.fs-6{
    font-size: 1rem !important;
}