// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

.fs-4{
    font-size: 1rem !important;
}
.fs-5{
    font-size: 1.25rem !important;
}
.fs-6{
    font-size: 1rem !important;
}
.page-heading,
.post-heading,
.site-heading {
    padding: 100px 0 150px !important;
    color: white;
    @media only screen and (min-width: 768px) {
        padding: 100px 0 !important;
    }
}

header.masthead.home{
    margin-bottom: 5px;
}

.btn.btn-sm{
    font-size: 10px;
    font-weight: 600;
    padding: 6px 15px;
}